* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* Center cards */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23252c;
  height: 100vh;
}

ul {
  list-style: none;
}

/* Make card's width 25rem */
.card-container {
  width: 25rem;
  background-color: #1a1b21;
  border-radius: 1rem;
}

.portfolio-img {
  width: 30rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.fa-icon {
  color: black;
}
