* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  /* Center cards */
  display: flex;
  justify-content: center;
}

/* Make card's width 25rem */
.card-container {
  width: 25rem;
}

.portfolio-img {
  width: 30rem;
}

.fa-icon {
  color: black;
}
